{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-underscore-dangle": ["error"],
    "implicit-arrow-linebreak": 0
  }
}
